@charset "UTF-8";

body {
    background-color: rgb(29, 28, 28);
    text-align: center;
}

h1 {
    color: aliceblue;
}
p {
    color: rgb(255, 230, 0);
}
a {
    color: rgb(228, 230, 253);
}
mark {
    background-color: rgb(26, 26, 233);
}

